*{box-sizing:border-box}
body{margin:0;font-family:Arial;background:#f4f6f8;color:#333}

header{
  background:#0a4dbf;
  color:#fff;
  padding:60px 20px;
  text-align:center;
}

.btn{
  background:#25D366;
  color:#fff;
  padding:12px 20px;
  border-radius:6px;
  text-decoration:none;
  display:inline-block;
  margin-top:15px;
}

section{
  padding:40px 20px;
  max-width:900px;
  margin:auto;
}

h2{text-align:center;margin-bottom:20px}

.card{
  background:#fff;
  padding:20px;
  margin:15px 0;
  border-radius:8px;
}

button{
  background:#25D366;
  color:#fff;
  border:none;
  padding:10px 15px;
  border-radius:6px;
  cursor:pointer;
}

footer{
  text-align:center;
  padding:15px;
  background:#fff;
}
