* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f4f4;
  color: #000;
}

/* HEADER */
header {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 25px;
}

/* NAV */
nav {
  display: flex;
  justify-content: center;
  background: #111;
}

nav a {
  color: #fff;
  padding: 12px 18px;
  text-decoration: none;
}

nav a:hover {
  background: #333;
}

/* LAYANAN */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
  padding: 20px;
}

.card {
  background: #fff;
  padding: 30px;
  text-align: center;
  border-radius: 8px;
  font-weight: bold;
  border: 1px solid #ddd;
}

/* DESKRIPSI */
.desc {
  background: #fff;
  margin: 20px;
  padding: 20px;
  border-left: 5px solid #000;
}

/* MAPS */
.maps iframe {
  width: 100%;
  height: 300px;
  border: none;
}

/* FOOTER */
footer {
  background: #000;
  color: #fff;
  text-align:center;
  padding: 20px;
}

/* WA FLOAT */
.wa-float {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: chartreuse;
  color: #fff;
  font-size: 28px;
  padding: 10px;
  border-radius: 50%;
  text-decoration: none;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

